include LICENSE README.md CONTRIBUTING.md CHANGELOG.md conftest.py
graft src
graft tests
graft data
graft docs
exclude .coverage
prune tests/main/htmlcov
prune tests/.pytest_cache
prune venv
prune .circleci
prune .idea